<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        width: 500px;
        height: 500px;
        background-color: grey;
      }
    </style>
  </head>

  <body>
    <h1>Test<h1>
    <h3>google map</h3>
    <div id="map"></div>
    <br></br><%= vigilI %>

    <script type='text/javascript' src='config.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIrLAR1jtHIIiXCn5ZE060HZOHzK3gTnw&callback=initMap" async defer></script>
    <script>

        //from 구글맵 api 샘플코드 : https://developers.google.com/maps/documentation/javascript/adding-a-google-map#3_api
        //위의 src에 앱키 포함되어 있고, IP제한설정에 추가해 두었으니 그대로 쓰셔도 됩니다
        function initMap() {
          var center = {lat: <%= vigilY %>, lng: <%= vigilX %>}; //백석고WGS84 좌표값
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: center
          });

          //marker생성
          var marker;
          marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: {lat: <%= vigilY %>, lng: <%= vigilX %>}
          });
        }
    </script>
  </body>
</html>
